:root {
    --container-width: 800px;
}

* {
    box-sizing: border-box;
    border: 0;
    font-family: Arial, Helvetica, sans-serif;
}


body {
    margin: 0;
    padding: 0;
    background-image: url('./image/daniel-leone-v7daTKlZzaw-unsplash.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

.container {
    padding-right: calc(50% - var(--container-width) / 2) !important;
    padding-left: calc(50% - var(--container-width) / 2) !important;
}

.srOnly {
    position: absolute;
    margin: -1px 0 0 -1px;
    padding: 0;
    display: block;
    width: 1px;
    height: 1px;
    font-size: 1px;
    line-height: 1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    border: 0;
    outline: 0;
}

h1, h2, h3, h4 {
    margin: 0;
    font-weight: bold;
    text-align: center;
}

h1 {
    font-size: 42px;
    color: teal;
}

button {
    padding: 4px;
    border: 2px solid teal;
    border-radius: 4px;
    color: #fff;
    background-color: transparent;
    cursor: pointer;
    font-size: 16px;

}

p {
    text-align: start;
    margin: 0;
    font-size: 16px;
}

ul {
    margin: 0;
    list-style-type: none;
    padding: 0;
}

.main__menu {
    margin-top: 100px;  
    padding: 40px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
    border: 2px solid greenyellow;
    border-radius: 10px;
}

.main__title {
    display: inline-block;
    margin-left: auto;
}

.main__title_color {
    color: orange;
}

.main__title:hover {
    color: orange;
    transition: .8s;

}

.main__title:hover .main__title_color {
    color: teal;
    transition: .8s;
}

.main__title:not(hover), .main__title:not(hover) .main__title_color {
    transition: .8s;
}

.main__form {
    padding: 40px 0;
    display: flex;
    justify-content: space-between;
}

.main__input {
    padding: 4px 10px;
    border-radius: 4px;
    width: 74%;
}

.main__btnCreate {
    padding: 7px;
    border: 2px solid teal;
    color: orange;
    font-weight: bold;
    letter-spacing: 1px;
    text-transform: uppercase;

}

.main__btnCreate:hover {
    border: 2px solid orange;
    transition: .5s;
}

.main__btnCreate:not(hover) {
    transition: .5s;

}

.main__options {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 40px;
}

.btnShow + .btnShow {
    margin-left: 15px;
}

.btnShow:hover {
    color: orange;
    transition: .3s;
}
.main__sort {
    display: flex;
    align-items: center;
}

.main__sortText {
    color: #fff;
}

.btnSort {
    margin-left: 10px;
}

.btnSort:hover {
    border: 2px solid orange;
    transition: .5s;
}

.btnSort:not(hover) {
    transition: .5s;

}

.btnSort__icon {
    width: 20px;
    height: 20px;
}

.btnSort__icon_rotate {
    transform: rotate(180deg);

}

/* List */

.main__taskList {
    padding-bottom: 25px;
}

.taskItem {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    border: 2px solid teal;
    border-radius: 6px;
    max-width: 100%;
}

.taskItem + .taskItem {
    margin-top: 20px;
}

.taskItem__label {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.taskItem__text {
    position: relative;
    padding: 5px 0;
    font-size: 20px;
    color: #fff;
}

.taskItemItem__text_decor {
    text-decoration: line-through;
}


.taskItem__textBox {
    margin-left: 20px;
    width: 470px;
    border-bottom: 1px solid transparent;
    overflow: hidden;
}

.taskItem:hover .taskItem__textBox{
    border-bottom: 1px solid orangered;
    transition: .2s;
}
.taskItem__date {
    margin-left: 20px;
    color: orange;
}
.taskItem__btnCheck {
    margin-left: 20px;
    border: 2px solid orange;
    border-radius: 10px;
}

.taskItem__btnCheckIcon {
    width: 25px;
    height: 25px;
}

/*Pagination */

.pagination {
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
    width: 300px;
}

.pagination__btn {
    padding: 5px 15px;
    color: orange;
    border: 2px solid #fff;
}

.pagination__btn + .pagination__btn {
    margin-left: 15px;
}

.pagination__btn_active {
    background-color: #fff;
}